*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #735639;
  color: #111;
}

.container{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0px 20px;
}

section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.card{
  flex: 0 0 calc(33.33% - 20px);
  max-width:calc(33.33% - 20px) ;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  transition:3s;
  border: 3px solid transparent;
}

.card:hover{
  border: #34b2ff;
}

@media(max-width: 969px){
  section{
      padding: 20px 0px;
  }
  h1{
      font-size: 30px;
      line-height: 40px;
  }
  .card{
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
  }
}

@media(max-width: 600px){

  .card{
      flex: 0 0 100%;
      max-width: 100%;
  }
}